@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
body{
    background-color: hsl(218, 40%, 65%);
    font-family: 'Outfit', sans-serif;
    align-items: center;
}
.wrapper{
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
    border-radius:20px;
    margin-bottom: 5px;
    padding-bottom:70px;
    margin-top:40px;
    margin-right:550px;
    margin-left:300px;
    
}
h1{
    color:black;
    text-align: center;
    width:40%;
    margin-left:170px;
}
p{
  color:hsl(212, 45%, 89%);
  
}
.img{
    margin:10px 5px 10px 40px;
    max-width: 10%; 
    padding-top:30px; 
    image-rendering: 20px;;
}
p{
    margin-left:190px;
    width:40%;
}